body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 1.5px;
    line-height: 1.6;

    margin: 30px;
    padding: 15px;
    scroll-behavior: smooth;
    width: auto;
    justify-content: center;

    transition:0.4s ease;
}

footer{
    margin:20px;
    padding:10px;
    display:flex;
    justify-content: center;
    text-align:center;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeUp{
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}


